[submodule "wuji-retargeting/wuji_retargeting/wuji-description"]
	path = wuji-retargeting/wuji_retargeting/wuji-description
	url = https://github.com/wuji-technology/wuji-description.git
[submodule "wuji-retargeting/example/utils/mujoco-sim"]
	path = wuji-retargeting/example/utils/mujoco-sim
	url = https://github.com/wuji-technology/mujoco-sim.git
[submodule "third_party/zenoh-pico"]
	path = third_party/zenoh-pico
	url = https://github.com/eclipse-zenoh/zenoh-pico.git
